body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  height: 100%;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}

h1 {
  margin: 0px 0 0px 0;  
  margin-left: 0px;
}

#main {
  width: 600px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}


ul {
  list-style: circle;
  align-content: flex-start;
}

ul>li:hover {
  background-color: #F5F5F5;
  margin: 0 auto;
}

.form-inline .form-control {
  width: 50%;
  margin: 0 auto;
}

.done {
  color: red;
  text-decoration: line-through;
  margin: 0 auto;
}

.undone {
  color: rgb(0, 0, 0);
  margin: 0 auto;
}

.icon {
  margin-left: 0px;
  margin: 0 auto;
}
